<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <span class="has-text-weight-bold"><%= comment.name %>:</span>
          <span><%= comment.comment %></span>
        </p>
      </div>
    </div>
    <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
  </article>
</div>
